@model WebExample.Models.Human 

@{
    ViewData["Title"] = "Մարդկանց տվյալների ներմուծում";

}

<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width"/>    
    </head>

  <body>
    <h4>@ViewData["Title"]</h4>
    @*<form asp-action="Human"> *@
      @using (Html.BeginForm("HumanData", "Human", FormMethod.Post))
      {
        @Html.AntiForgeryToken()
        <table cellpadding="0" cellspacing="0">           
            <tr>
                <td>PersonId: </td>
                <td>
                    @Html.TextBoxFor(m => m.Id)
                </td>
            </tr>

            <tr>
                <td>Name </td>
                <td>
                    @Html.TextBoxFor(n => n.Name)
                </td>
            </tr>       
            
            <tr>
                <td>Email</td>
                <td>
                    @Html.TextBoxFor(e => e.Email)
                </td>
            </tr>

            <tr>
                <td>City </td>
                <td>
                    @Html.TextBoxFor(c => c.City)
                </td>
            </tr>

            <tr>
                <td>Car </td>
                <td>
                  @Html.DropDownListFor(c => c.Id, new List<SelectListItem>
                  {  
                     new SelectListItem{Text="Male", Value="M"},                    
                     new SelectListItem{Text="Female", Value="F"}
                  }, "Ընտրեք Մեքենան")
                </td>
            </tr>
            
            <tr>
                <td>Gender </td>
                <td>
                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                   {
                       //github.com/TigranSaharian/vidly/blob/master/vidly/Views/Customer/CustomerForm.csthml
                       new SelectListItem{Text="Male", Value="M"},
                       new SelectListItem{Text="Female", Value="F"}
                   }, "Ընտրեք սեռը")
                </td>
             </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Հաստատել"/>
                </td>
            </tr>

        </table>
       }
      @*</form>*@
   </body>
</html>
